<div class="box-comment">
    <!-- User image -->
    <img class="img-circle img-sm" src="<%= comment.user.avatar_url %>" alt="User Image">

    <div class="comment-text">
                      <span class="username">
                        <%= comment.user.name %>
                          <span class="text-muted pull-right"><%- Date(comment.create_time*1000).toLocaleString() %></span>
                      </span><!-- /.username -->
        <p>
            <%= comment.text %>
        </p>
    </div>
    <ul class="list-inline">
        <li class="pull-right">
        <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i>回复</a></li>
        <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i>赞(<%= comment.digg_count %>)</a>
        </li>
        </li>
    </ul>
    <!-- /.comment-text -->
</div>